<div class="overlay-wrapper" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>


<main id="content" role="main" class="main">
    <div class="content container">
        <div dir="rtl">
            <nav aria-label="breadcrumb">
                <ol id="w6" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Investment/Dashboard">الرئيسية</a></li>
                    <li class="breadcrumb-item"><a href="/Sections?SectionId=64ae566b4e3b1454dea0ed6a">الخدمات الالكترونيه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{serviceName}}</li>
                </ol>
            </nav>
        </div>
        <div class="row justify-content-center py-7" style="background:url(/img/bg-green-full.png);">
            <div class="col-md-8 col-12">

                <div class="js-step-form">

                    <ul id="basicStepFormProgress" dir="rtl"
                        class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-7">
                        <li class="step-item" *ngFor="let item of stepsName">
                            <a class="step-content-wrapper" >
                                <span class="step-icon step-icon-soft-dark">1</span>
                                <div class="step-content">
                                    <span class="step-title">
                                        {{item}}
                                    </span>
                                </div>
                            </a>
                        </li>
                        
                    </ul>


                    <div id="basicStepFormContent">

                        <div id="basicStepTerms" class="card active">
                            <div dir="rtl">
                                <div class="card-header">
                                    <h3 class="card-title h3">{{serviceName}}</h3>
                                </div>

                                <div class="card-body">

                                    <form id="service-form" [formGroup]="myForm">
                                        <ng-container *ngFor="let field of currentStepFields">
                                        
                                             <ng-container *ngIf="field.type=='TEXT_FIELD'">
    
    
                                                <app-text-field
                                                    [field]="field"
                                                    [fieldId]="field.id" 
                                                    [containerFieldId]="undefined" [fieldIndex]="undefined"
                                                    [isContainer]="false" ></app-text-field>
    
                                            </ng-container>
    
                                            <ng-container *ngIf="field.type=='PREDEFINED_COMBO_BOX'">
    
                                                <app-predefined-combo-box [formGroup]="myForm" id="compo_{{field.id}}"
                                                    [field]="field"
                                                    [fieldId]="field.id" [submitted]="false" [yourTurn]="true"
                                                    [isContainer]="false"
                                                    [containerFieldId]="undefined" [fieldIndex]="undefined"
                                                    ></app-predefined-combo-box>
    
                                            </ng-container>
    
                                        </ng-container>
    
                                    </form>

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>