
    <!-- ========== HEADER ========== -->
    <header id="header" class="navbar navbar-expand-lg navbar-bordered navbar-spacer-y-0 flex-lg-column">
        <div class="navbar-light shadow w-100 bg-gradient bg-light py-2">
            <div class="container">
                <nav class="js-mega-menu navbar-nav-wrap hs-menu-initialized hs-menu-horizontal" style="direction: rtl;">
                    <!-- Logo -->
    
                    <a class="navbar-brand me-5 me-md-0" href="#" aria-label="Front">
                        <img class="navbar-brand-logo" src="../../../assets/images/Moinlogo.png" alt="Logo" data-hs-theme-appearance="default">
                    </a>
    
                    <!-- End Logo -->
    
                    <!-- Secondary Content -->
                    <div class="navbar-nav-wrap-secondary-content">
                        <!-- Style Switcher -->
                        <!-- Toggler -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDoubleLineContainerNavDropdown" aria-controls="navbarDoubleLineContainerNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                      </span>
                            <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                      </span>
                        </button>
                        <!-- End Toggler -->
    
                        <!-- End Style Switcher -->
                        </div>
                    <!-- End Secondary Content -->
    
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="navbarContainerNavDropdown">
                        <ul class="navbar-nav">
                        </ul>
                    </div>
                    <!-- End Collapse -->
                </nav>
            </div>
        </div>
    
        <div class="container-fluid bg-maroon">
            <nav class="js-mega-menu flex-grow-1 hs-menu-initialized hs-menu-horizontal">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarDoubleLineContainerNavDropdown">
                    <ul class="navbar-nav navbar-dark bg-maroon  justify-content-start" style="direction: rtl;">
    
                     
                        <!-- <li class="nav-item text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/site"><i class="bi-house dropdown-item-icon text-white-50"></i>الرئيسية </a>                    </li>
                       -->

                             
                            <li class="nav-item text-end">
                                <a class="hs-mega-menu-invoker nav-link" href="/Investment/Admin/Users"><i class="bi-person dropdown-item-icon text-white-50"></i> المستثمرين</a>
                            </li>

                            <li class="nav-item text-end">
                                <a class="hs-mega-menu-invoker nav-link" href="/Investment/Admin/Companies"><i class="bi-files-alt dropdown-item-icon text-white-50"></i> الشركات</a> </li> 
                                                
    
                        <!-- <li class="nav-item me-2 text-end">
                                <a class="hs-mega-menu-invoker nav-link" href="/site/stats"><i class="bi-list dropdown-item-icon text-white-50"></i> الإحصائيات</a>                    </li>
                       
                                           
              
                                            <li class="nav-item me-2 text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/Investment/Admin/FilterRequest"><i class="bi-window-stack dropdown-item-icon text-white-50"></i> جميع الطلبات</a>                    </li>
                            <li class="nav-item me-2 text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/Investment/Admin/FilterRequest?finish=1"><i class="bi-door-closed dropdown-item-icon text-white-50"></i> الطلبات المنتهية</a>                    </li>
                                            
                                            <li class="nav-item me-2 text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/emp"><i class="bi-person dropdown-item-icon text-white-50"></i> الموظفون</a>                    </li> -->
                                          
                                            <li class="nav-item me-2 text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/Investment/Admin/Recipt"><i class="bi-cash dropdown-item-icon text-white-50"></i> المالية</a>                    </li>
                                      
                                            <!-- <li class="nav-item me-2 text-end">
                            <a class="hs-mega-menu-invoker nav-link" href="/services"><i class="bi-list dropdown-item-icon text-white-50"></i> الخدمات</a>                    </li>
                                          -->
                        <li class="nav-item me-2 text-end">
                           
    <input type="hidden" name="_csrf-backend" value="bg5LOwvrU9Zx8ebAxSCCpMF749b6jT3dITkriwg_Kd0vQnJpfpkVr0nEl7GwYsnWikmuuMv3DOtNbE26MQpzrQ=="><button type="submit" class="hs-mega-menu-invoker nav-link bg-maroon border-0"><i class="bi-box-arrow-left dropdown-item-icon text-white-50"></i>
                                تسجيل خروج</button>                    </li>
                        <!-- End Pages -->
                    </ul>
    
                </div>
                <!-- End Collapse -->
            </nav>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->

    <router-outlet></router-outlet>


    <!-- ========== END MAIN CONTENT ========== -->
    <footer class="container-fluid text-center bg-blue navbar-dark pt-5 pb-10">
        <div class="row justify-content-center" dir="rtl">
            <div class="col-auto">
                <img src="../../../assets/images/moin-logo-white.png" style="max-width: 180px;" class="img-fluid mb-2">
                <p class="text-white-50 text-end">
                    المبنى الرئيسي - الدوار الخامس/ شارع الكندي-عمارة رقم 36
                    صندوق البريد: 893 عمان 11821 الاردن
                </p>
            </div>
        </div>
    
        <p class="mb-0 text-white-50">© وزارة الاستثمار المملكة الأردنية الهاشمية 2023 جميع الحقوق محفوظة </p>
    </footer>
    
   
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>