<main id="content" role="main" class="main">

    <div class="content container">
        <div dir="rtl">
            <nav aria-label="breadcrumb">
                <ol id="w0" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">الطلبات</li>
                </ol>
            </nav>
        </div>
        <div class="row mb-10" dir="rtl">
            <div class="col-lg-12 mb-3 mb-lg-5">
                <div class="card h-100">

                    <div class="card-header card-header-content-between">
                        <h3 class="card-header-title">الطلبات المقدمة</h3>

                        <div class="dropdown">
                            <a class="btn btn-white btn-sm" href="/ar/services"> <i class="bi-plus-lg"></i>طلب جديد</a>
                        </div>

                    </div>


                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th class="fs-5">رقم المعاملة</th>
                                        <th class="fs-5">الطلب</th>
                                        <th class="fs-5">الحالة</th>
                                        <th class="fs-5">تاريخ الإستلام</th>
                                        <th class="fs-5"></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr class="justify-content-center align-middle" *ngFor="let item of requests">
                                        <td class="col-md-2 order-md-1">
                                            <span class="mb-0">{{item.id}}</span>
                                        </td>
                                        <td class="col-md-6 order-md-2">
                                            <h5>
                                                {{item.name}}
                                            </h5>
                                        </td>
                                        <td class="col-md-2 order-md-3">
                                            <span class="badge bg-soft-warning text-warning rounded-pill fs-5">
                                                {{item.status}}
                                            </span>
                                        </td>
                                        <td class="col-md-2 order-md-4">
                                            <span>
                                                {{item.createdDate|date}}
                                             </span>
                                        </td>
                                        <td class="col-md-2 order-md-4">

                                            <ng-container *ngIf="item.status=='Service under process'" >
                                                <a class="btn btn-white btn-sm py-1 px-4"
                                                    href="/Form?serviceId={{item.id}}">عرض</a>

                                            </ng-container>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</main>