
input[type=file] {
    color: unset !important;
    background-color: #fff;
    border-color: unset !important;
    outline: 0;
    box-shadow:unset !important;
}

.solution_cards_box .solution_card:hover {
    background: unset !important;
    color: unset !important;
    transform: unset !important;
    z-index: 0  !important;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: unset !important;
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: unset !important
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: unset !important;
    color: unset !important;
  }