<header class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
    <div class="d-flex d-lg-none justify-content-center">
    <a href="/Investment/Dashboard">
    <img class="w-100" src="../../../assets/images/logo2.png" alt="Image Description" data-hs-theme-appearance="default" style="min-width: 7rem; max-width: 8.5rem;">
    </a>
    </div>
    </header>

<main id="content" role="main" class="main">

    <div class="container-fluid" style="padding-right: 1rem;padding-left: 0.5rem;">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center min-vh-lg-100 position-relative px-0"
                style="background:url(../../../assets/images/login-background.jpg) center;background-size:cover;">
                <div class="card pt-md-7 blur px-5 pb-10"
                    style="margin-top: 10.5rem;max-width: 23rem;max-height: 23rem;">
                    <div class="text-center mb-5">
                        <img class="img-fluid" src="../../../assets/images/logo2.png" alt="Image Description" style="width: 12rem;"
                            data-hs-theme-appearance="default">
                    </div>
                    <div class="mb-5">
                        <h2 class="display-5 text-center">الخدمات الاستثمارية الإلكترونية الشاملة في وزارة الاستثمار
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
                <div class="w-100 content-space-t-4 content-space-t-lg-2 content-space-b-1" style="max-width: 25rem;">

                    <form #myForm="ngForm" dir="rtl">
                        <input type="hidden" name="_csrf-frontend"
                            value="sZ9ONHk_X0BSkIisIu4MTD5v44pzUqj8HGR9eMOQ6pPipzh7EkwNBTzm5thrg1g9VyuK3Rc36qxpMDEMreeg1g==">
                        <div class="text-center">
                            <div class="mb-5">
                                <h1 class="display-4">تسجيل الدخول</h1>
                                <p >هل أنت مستخدم جديد؟ <a class="link" href="/Investment/SignUp">إنشاء حساب</a> </p>
                            </div>
                        </div>

                        

                        <div class="mb-4">
                            <div class="mb-3 field-loginform-password required">
                                <label class="form-label" for="loginform-password">الرقم الوطني</label>
                                <input type="text" name="username" id="username" [(ngModel)]="username" #username_field="ngModel" class="form-control"  required="true" >
                                <span class="text-danger" *ngIf="myForm.submitted && !username_field.valid">حقل اجباري!</span>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="mb-3 field-loginform-password required">
                                <label class="form-label" for="loginform-password">كلمة السر</label>
                                <input type="password" name="password" id="password" [(ngModel)]="password" #password_field="ngModel" required="true" class="form-control">
                                <span class="text-danger" *ngIf="myForm.submitted && !password_field.valid">حقل اجباري!</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="mb-3 field-loginform-rememberme">
                                <div class="form-check">
                                    <input type="hidden" name="LoginForm[rememberMe]" value="0"><input type="checkbox"
                                        id="loginform-rememberme" class="form-check-input" name="LoginForm[rememberMe]"
                                        value="1" checked="">
                                    <label class="form-check-label" for="loginform-rememberme">تذكر معلوماتي</label>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 mx-0" style="color:#999;">
                            لإستعادة كلمة السر يرجى <a href="Investment/ForgetPassword">طلب إستعادة كلمة السر</a>.
                            <!-- <br>
                            لم تصلني رسالة التوثيق <a href="/ar/site/resend-verification">إعادة إرسالها</a> -->
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <div>
                                <div class="grecaptcha-badge" data-style="bottomright"
                                    style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                    <div class="grecaptcha-logo"><iframe title="reCAPTCHA"
                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LerqC8kAAAAAL0zr64D5T6_bXZYcbbIOkAQw71y&amp;co=aHR0cHM6Ly9tb2luLnJlbGVhbnMuY29tOjQ0Mw..&amp;hl=en&amp;v=pCoGBhjs9s8EhFOHJFe8cqis&amp;size=invisible&amp;sa=submit&amp;cb=2dh3o2y4vr4l"
                                            width="256" height="60" role="presentation" name="a-yyhk3qkc4muv"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
                                        name="g-recaptcha-response" class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div><iframe style="display: none;"></iframe>
                            </div>
                            <button (click)="login()" class="btn btn-primary btn-lg g-recaptcha" name="login-button"
                                data-sitekey="6LerqC8kAAAAAL0zr64D5T6_bXZYcbbIOkAQw71y" data-callback="onSubmit"
                                data-action="submit">تسجيل دخول</button>
                                
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>