.tabs-wrapper {
    box-shadow: 2px 1px 20px #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-tabs {
    display: flex;
}
.nav-tabs li {
    border: 1px solid #ddd;
}
.tab {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 0.5rem;
    transition: all 0.3s ease 0s;
}
.tab.is-active {
    background: #4060ff;
    color: #fff;
}
.tab-panel {
    display: none;
}
.tab-panel p {
    line-height: 1.6;
}
.tab-panel.is-active {
    display: block;
}